body {
  background-image: url("https://github.com/elgrons/mr-robogers-neighborhood/blob/main/mrrogersrobot.jpeg?raw=true");
}

h2 {
  color: firebrick;
  background-color: rgb(197, 176, 176);
  font-size: 48px;
  font-style: oblique;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.robot {
  background-color: rgb(197, 176, 176);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  text-align: center;
  opacity: .89;
}